.ResultContainer {
    width: 100%;
    overflow-y: auto;
    max-width: 28rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.ProgressIndicator {
    width: 12rem;
    height: 12rem;
    margin: 0 auto 1.5rem;
    position: relative;
}

.SevereDepressionGradient{
    background: linear-gradient(to right, #fed7aa, #fecaca, #fecdd3);
}

.ModeratelySevereDepressionGradient{
    background: linear-gradient(to right, #fde68a, #fed7aa, #fecaca);
}

.ModerateDepressionGradient{
    background: linear-gradient(to right, #fef9c3, #fde68a, #fed7aa);
}

.MildDepressionGradient{
    background: linear-gradient(to right, #d1fae5, #a5f3fc, #bae6fd);
}

.MinimalDepressionGradient{
    background: linear-gradient(to right, #d9f99d, #a7f3d0, #a5f3fc);
}

.GradientCircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.InnerCircle {
    position: absolute;
    inset: 1rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ScoreText {
    text-align: center;
}

.Score {
    font-size: 2rem;
    font-weight: 600;
    color: #4a4a4a;
}

.ScoreMax {
    font-size: 0.875rem;
    color: #9ca3af;
}

.SeverityLabel {
    text-align: center;
    margin-bottom: 1rem;
}

.Label {
    background-color: #ebf4ff;
    color: #3b82f6;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
}

.SeverityLevel {
    text-align: center;
    margin-bottom: 0.75rem;
}

.LevelTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4a4a4a;
}

.ResultMessage {
    text-align: center;
    margin-bottom: 1.5rem;
}

.Message {
    color: #4b5563;
    margin-bottom: 0.75rem;
}

.Guidance {
    color: #6b7280;
    font-size: 0.875rem;
}

.ActionButtons {
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.Button {
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.2s;
    border: none;
}

.ButtonPrimary {
    background-color: #3b82f6;
    color: white;
}

.ButtonPrimary:hover {
    background-color: #2563eb;
}

.ButtonSecondary {
    background-color: #10b981;
    color: white;
}

.ButtonSecondary:hover {
    background-color: #059669;
}

.ResourcesSection {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e5e7eb;
    text-align: left;
}

.ResourcesHeader {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 0.75rem;
}

.ResourcesText {
    font-size: 0.875rem;
    color: #6b7280;
    margin: 20px 0px;

    p{
        margin: 6px 0px;
    }
}

.BackLink {
    margin-top: 1.5rem;
    text-align: center;
    a{
        font-size: 15px;
        font-weight: 500;
        /* color: #6b7280; */
        color: #059669;
        text-decoration: none;
    }
}

.BackLink:hover {
    color: #4b5563;
}

/* ---------------------------- MOBILE SCREEN --------------------------------- */
@media (max-width: 480px) {
    .ResultContainer {
        width: 70%;
        height: 80vh;
        overflow-y: auto;
    }
    
    .ProgressIndicator {
        width: 10rem;
        height: 10rem;
    }

    .ActionButtons {
        /* display: flex; */
        width: 90%;
        margin: auto;
    }
    
    .Button {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }

    .ResourcesSection {
        margin-top: 1rem;
        padding-top: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .ResultContainer {
        width: 80%;
        height: 80vh;
        overflow-y: auto;
    }
    
    .ProgressIndicator {
        width: 10rem;
        height: 10rem;
    }

    .ActionButtons {
        width: 80%;
        margin: auto;
    }
    
    .Button {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }

    .ResourcesSection {
        margin-top: 1rem;
        padding-top: 1rem;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .ResultContainer {
        width: 80%;
        height: 85vh;
        overflow-y: auto;
    }
    
    .ProgressIndicator {
        width: 10rem;
        height: 10rem;
    }

    .ActionButtons {
        width: 80%;
        margin: auto;
    }
    
    .Button {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }

    .ResourcesSection {
        margin-top: 1rem;
        padding-top: 1rem;
    }
}


@media (min-width: 1025px) and (max-width: 1200px) {
    
}


@media (min-width: 1201px) and (max-width: 1440px) {
    
}
