#AboutOuterContainer{
    padding: 100px 0px;
}

.PrimaryBtn {
    padding: 14px 40px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

#AboutFirstContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

#CounselorLeftSection {
    width: 50%;
    text-align: left;
}

#CounselorLeftSection>p:nth-child(1) {
    font-size: 38px;
    font-weight: 900;
}

#CounselorLeftSection>p:nth-child(2), #CounselorLeftSection>p:nth-child(3) {
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

#CounselorLeftSection>button {
    margin-top: 40px;
}

#LearnMoreBtn{
    display: flex;
    align-items: center;
}

#LearnMoreBtnArrowIcon{
    font-size: 20px;
    margin-left: 10px;
}

#CounselorRightSection {
    width: 42%;
    position: relative;
}

#CounselorImgContainer {
    position: relative;
    width: 100%;
    z-index: -1;
}

#CounselorImgContainer>img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#CounselorImgContainer::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #c1e3de;
}

.AboutVideoIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.VideoIcon {
    font-size: 40px;
}

.AboutVideoIcon .VideoPlayBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 228, 185, 0.8);
    border-radius: 50%;
    color: rgb(255, 167, 5);
    font-size: 24px;
    text-decoration: none;
    border: none;
}

.AboutVideoIcon .VideoPlayBtn:hover {
    background-color: rgba(255, 228, 185, 0.8);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Popup container */
.Popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1004;
    opacity: 1;
    transition: opacity 0.3s, opacity 0.3s ease-in-out;
}

/* Popup content */
.PopupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 700px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#VideoFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#ClosePopup{
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
}

#PointersGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 15px;
    margin: 40px 0px;
}

.Pointers{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.Pointers > p{
    margin: 0px;
}

.PointersIcon{
    fill: orange;
    font-size: 20px;
    stroke-width: 1;
    color: orange;
    margin-right: 15px;
}


#StoryContainer{
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}

#StoryHeading{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

#StoryBgContainer{
    background-color: #dbf0ed;
    border-radius: 30px;
    padding: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#StorySubheading{
    font-size: 32px;
    font-weight: 600;
    margin: 0px;
    margin-top: 40px;
    text-align: center;
}

#GoalsList{
    margin: 0px;

    .GoalItem{
        margin: 15px 0px;
    }

    .GoalItem > span {
        font-weight: 500;
    }
}

#AboutInnerContainer2 {
    display: flex;
    width: 80%;
    margin: 120px auto;
}

#StatsCard {
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 1px 2px 0px, rgba(43, 171, 160, 0.14) 0px 2px 6px 2px;
    padding: 50px 0px;

    .StatsCol {
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        gap: 10px;
    }

    .StatsCol>p {
        margin: 0;
    }

    .StatsCol>p:nth-child(1) {
        color: green;
        font-size: 48px;
        font-weight: 900;
    }

    .StatsCol>p:nth-child(2) {
        font-size: 24px;
        font-weight: 400;
        margin-top: 20px;
    }

    .StatsCol>p:nth-child(3) {
        font-size: 18px;
        font-weight: 200;
    }

    .StatsCol:nth-child(2) {
        border-left: 2px solid rgb(222, 222, 222);
        border-right: 2px solid rgb(222, 222, 222);
    }
}




#CarouselSection {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    background-color: #f9f9f9;
}

#CarouselSectionContainer {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

#CarouselSectionContainer>p {
    margin: 0;
}

#CarouselSectionContainer>p:nth-child(1) {
    font-size: 40px;
    font-weight: 900;
}

#CarouselSectionContainer>p:nth-child(2) {
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

#CarouselContainer {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
}


.Slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 100%; */

    width: calc(100% + 30px);
    gap: 6px; 
}

/* .slide {
    display: flex;
    transition: transform 0.5s ease-in-out;

    width: calc(100% + 30px);
    gap: 15px; 
} */

.CertiCard {
    /* Show three items at once */
    /* flex: 0 0 33.33%; */
    flex: 0 0 calc(33.33% - 10px);
    /* Three items per view with gap */
    padding: 10px;
    box-sizing: border-box;
}

.Cerificate img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SlideIndicators {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.Indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Indicator.Active {
    background-color: orange;
}





#ConsultationStagesSection {
    margin: 100px 0px;
}

#StagesInnerContainer {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#QuestionsLeftSection {
    width: 40%;
    height: 100%;
    position: relative;
}

#QuestionImgContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 3;
}

#QuestionImgContainer2{
    display: none;
}

.ImgGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ImgGroupContainer:first-child {
    align-items: flex-end;
    position: absolute;
    top: -180px;
    left: 0;
}

.ImgGroupContainer:last-child {
    position: absolute;
    bottom: -220px;
    right: 0;
}


.ImgGroupContainer:first-child>img:first-child,
.ImgGroupContainer:last-child>img:last-child {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.ImgGroupContainer:first-child>img:last-child,
.ImgGroupContainer:last-child>img:first-child {
    width: 230px;
    height: 230px;
    object-fit: contain;
}

#QuestionImgContainer::after, #QuestionImgContainer::before{
    width: 400px;
    height: 400px;
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #fef3de;
}

#QuestionImgContainer::after{
    top: -70px;
    left: -40px;
}

#QuestionImgContainer::before{
    bottom: -100px;
    right: -40px;
}



#StagesRightSection {
    text-align: left;
    width: 50%;
}

#StagesRightSection>p {
    font-size: 36px;
    font-weight: 800;
}

#StagesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 0px;
}

.StagesCard {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 50px;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.StagesCard:hover {
    transform: translateY(-5px);
    box-shadow: rgba(43, 171, 160, 0.14) 0px 10px 15px -3px, rgba(43, 171, 160, 0.14) 0px 4px 6px -2px;
}

.StagesCard>p {
    margin: 10px 0px;
}

.StagesCard>p:nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    color: #c1e3de;
}

.StagesCard>p:nth-child(2) {
    font-weight: 400;
    font-size: 22px;
}

.StagesCard>p:nth-child(3) {
    font-weight: 200;
    font-size: 18px;
}


#AboutThirdSection {
    background-color: #edf7f6;
}


#AboutInnerContainer3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

#AboutInnerContainer3>p {
    margin: 0px;
}

#AboutInnerContainer3>p:nth-child(1) {
    font-size: 40px;
    font-weight: 900;
}

#AboutInnerContainer3>p:nth-child(2) {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}

#GridSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 60px auto;
}

#AllProgramsBtn {
    display: flex;
    margin: auto;
    align-items: center;
}

#AllProgramsBtnIcon{
    font-size: 20px;
    margin-left: 10px;
}


#PhotosInnerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 80px auto;

    p {
        margin: 0;
    }
}

#PhotosInnerContainer>p:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
}

#PhotosInnerContainer>p:nth-child(2) {
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

#PhotosGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 45px;
    margin: 40px auto;
}

.PhotosCard {
    width: 100%;
    overflow: hidden;
    border-radius: 50px;
}

.PhotosCard>img {
    width: 100%;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
}

.PhotosCard:hover>img {
    transform: scale(1.1);
}

#PhotosBtn {
    display: flex;
    margin: auto;
    align-items: center;
}

#PhotosBtnArrowIcon{
    font-size: 20px;
    margin-left: 10px;
}

#InnerContainer6 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
    padding: 100px 0px;
    background-color: #f4fcfa;
    border-radius: 50px;
}

#InnerContainer6>p:nth-child(1) {
    font-weight: 900;
    font-size: 40px;
}

#InnerContainer6>button {
    display: flex;
    align-items: center;
    margin: 50px auto;
}


.PrimaryBtn2,
.PrimaryBtn3 {
    padding: 14px 40px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 480px) {
    #AboutFirstContainer {
        flex-direction: column-reverse;
        margin: 50px auto;
        gap: 50px;
    }

    #PointersGrid{
        grid-template-columns: repeat(1, 1fr);
    }

    #CounselorRightSection {
        width: 90%;
        position: relative;
    }
    
    #CounselorImgContainer {
        position: relative;
    }

    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }
    
    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 20px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 200px;
    }

    #CounselorLeftSection {
        width: 100%;
    }

    #CounselorLeftSection>p:nth-child(1) {
        font-size: 26px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2), #CounselorLeftSection>p:nth-child(3) {
        line-height: 25px;
        font-size: 16px;
    }

    #LearnMoreBtn {
        margin-top: 25px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #StoryContainer{
        font-size: 16px;
    }
    
    #StoryHeading{
        font-size: 30px;
    }
    
    #StorySubheading{
        font-size: 20px;
        margin-top: 20px;
    }


    #AboutInnerContainer2 {
        width: 85%;
        margin: 100px auto;
    }

    #StagesRightSection>p {
        font-size: 1.8rem;
    }

    #AboutInnerContainer3>p:nth-child(1) {
        font-size: 1.6rem;
        font-weight: 900;
    }

    #PhotosInnerContainer>p:nth-child(1) {
        font-size: 1.8rem;
    }

    #StatsCard {
        flex-direction: column;
        padding: 0px 0px;

        .StatsCol {
            display: flex;
            flex-direction: column;
            padding: 50px;
            margin: 0px 0;
        }

        .StatsCol>p:nth-child(1) {
            font-size: 2.4rem;
        }

        .StatsCol>p:nth-child(2) {
            font-size: 1.4rem;
        }

        .StatsCol>p:nth-child(3) {
            font-size: 1.1rem;
        }

        .StatsCol:nth-child(2),
        .StatsCol:nth-child(1) {
            border-bottom: 2px solid rgb(222, 222, 222);
        }

        .StatsCol:nth-child(2) {
            border-left: 0;
            border-right: 0;
        }
    }

    #StagesInnerContainer {
        flex-direction: column;
        margin: 30px auto;
        gap: 30px;
    }

    #QuestionsLeftSection {
        width: 100%;
        display: flex;
    }

    #QuestionImgContainer {
        display: none;
    }

    
    #QuestionImgContainer2{
        display: block;
        width: 100%;
        margin: auto;
    }
    
    #QuestionImgContainer2 > img {
        width: 100%;
    }



    #StagesRightSection {
        text-align: left;
        width: 100%;
    }
    
    #AllProgramsBtnIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #AboutInnerContainer3 > p:nth-child(1){
        font-size: 30px;
    }

    #GridSection{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    #PhotosBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #PhotosGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    #InnerContainer6 {
        width: 90%;
        margin: 100px auto;
        padding: 30px 0px;
        border-radius: 30px;
    }

    #InnerContainer6>p:nth-child(1) {
        font-weight: 900;
        font-size: 25px;
    }

    #InnerContainer6>button {
        width: 50%;
        margin: 30px auto;
    }

    #FormOutwardArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #stages-left-section {
        display: none;
    }

    #StagesGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 30px 0px;
    }

    .CertiCard {
        flex: 0 0 100%;
    }

    .Slide {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #AboutFirstContainer {
        flex-direction: column-reverse;
        margin: 60px auto;
        gap: 50px;
    }

    #CounselorRightSection {
        width: 90%;
        position: relative;
    }

    #CounselorImgContainer {
        position: relative;
    }

    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }
    
    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 50px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 150px;
        height: 150px;
        font-size: 28px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 300px;
    }

    #CounselorLeftSection {
        width: 100%;
    }


    #CounselorLeftSection>p:nth-child(1) {
        font-size: 28px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2), #CounselorLeftSection>p:nth-child(3) {
        line-height: 30px;
        font-size: 17px;
    }

    #CounselorLeftSection>button {
        margin-top: 40px;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #StoryContainer{
        font-size: 17px;
        padding-top: 0px;
    }
    
    #StoryHeading{
        font-size: 30px;
    }
    
    #StorySubheading{
        font-size: 20px;
    }



    #AboutInnerContainer2 {
        width: 85%;
        margin: 100px auto;
    }

    #StatsCard {
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 0px 0px;

        .StatsCol {
            display: flex;
            flex-direction: column;
            padding: 50px;
            margin: 0px 0;
        }

        .StatsCol:nth-child(2),
        .StatsCol:nth-child(1) {
            border-bottom: 2px solid rgb(222, 222, 222);
        }

        .StatsCol:nth-child(2) {
            border-left: 0;
            border-right: 0;
        }
    }

    #AboutInnerContainer3 > p:nth-child(1){
        font-size: 30px;
    }

    #GridSection{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    #AllProgramsBtnIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #PhotosBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #PhotosGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    #StagesInnerContainer {
        flex-direction: column;
        margin: 30px auto;
        gap: 30px;
    }

    #QuestionsLeftSection {
        width: 70%;
        display: flex;
    }

    #QuestionImgContainer {
        display: none;
    }

    #QuestionImgContainer2{
        display: block;
        width: 100%;
        margin: auto;
    }

    #QuestionImgContainer2 > img {
        width: 100%;
    }

    #StagesRightSection {
        text-align: left;
        width: 100%;
    }

    #InnerContainer6 {
        width: 80%;
        margin: 100px auto;
        padding: 40px 0px;
        gap: 30px;
    }

    #InnerContainer6>p:nth-child(1) {
        font-weight: 900;
        font-size: 25px;
        width: 85%;
        text-align: center;
        margin: auto;
    }

    #InnerContainer6>button {
        width: 45%;
        margin: 20px auto;
        font-size: 17px;
    }

    #FormOutwardArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #StagesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 30px 0px;
    }

    .CertiCard {
        flex: 0 0 100%;
    }

    .Slide {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        gap: 0px; 
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    #AboutFirstContainer {
        margin: 10px auto 30px;
        flex-direction: column-reverse;
        margin: 0px auto;
        gap: 50px;
    }

    #CounselorRightSection {
        width: 70%;
        margin: auto;
        position: relative;
    }

    #CounselorImgContainer {
        position: relative;
    }
    
    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }

    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 40px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 150px;
        height: 150px;
        font-size: 28px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 300px;
    }

    #CounselorLeftSection {
        width: 100%;
    }


    #CounselorLeftSection>p:nth-child(1) {
        font-size: 28px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2), #CounselorLeftSection>p:nth-child(3) {
        line-height: 30px;
        font-size: 18px;
    }


    #CounselorLeftSection>button {
        margin-top: 40px;
    }

    #CounselorRightSection {
        margin-top: 50px;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #AboutInnerContainer2 {
        width: 85%;
        margin: 100px auto;
    }

    #StatsCard {
        padding: 30px 0px;

        .StatsCol {
            padding: 0px 50px;
            gap: 10px;
        }
    }


    .CertiCard {
        flex: 0 0 calc(50% - 10px);
    }

    #AboutInnerContainer3 > p:nth-child(1){
        font-size: 30px;
    }

    #GridSection{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    #AllProgramsBtnIcon{
        font-size: 20px;
        margin-left: 10px;
    }
    
    #PhotosBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #PhotosGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }


    #StagesInnerContainer {
        flex-direction: column;
        margin: 30px auto;
        gap: 30px;
    }

    #QuestionsLeftSection {
        width: 70%;
        display: flex;
    }

    #QuestionImgContainer {
        display: none;
    }

    #QuestionImgContainer2{
        display: block;
        width: 100%;
        margin: auto;
    }

    #QuestionImgContainer2 > img {
        width: 100%;
    }


    #StagesRightSection {
        text-align: left;
        width: 90%;
    }

    #StagesRightSection > p {
        font-size: 32px;
    }

    #PhotosInnerContainer > p:nth-child(1){
        font-size: 32px;
        font-weight: 900;
    }


    #InnerContainer6 {
        width: 80%;
        margin: 100px auto;
        padding: 30px 0px;
    }

    #InnerContainer6>p:nth-child(1) {
        font-weight: 900;
        font-size: 25px;
    }

    #InnerContainer6>button {
        font-size: 15px;
        margin: 30px auto;
    }

    #FormOutwardArrowIcon {
        font-size: 20px;
        margin-left: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .AboutVideoIcon {
        top: 40%;
        left: 0%;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #AboutInnerContainer2 {
        width: 85%;
        margin: 100px auto;
    }

    #StatsCard {
        padding: 30px 0px;

        .StatsCol {
            padding: 0px 50px;
            gap: 10px;
        }
    }

    .CertiCard {
        flex: 0 0 calc(50% - 10px);
    }

    #StagesInnerContainer {
        flex-direction: column;
        margin: 30px auto;
        gap: 30px;
    }

    #QuestionsLeftSection {
        width: 50%;
        display: flex;
    }

    #QuestionImgContainer {
        display: none;
    }

    #QuestionImgContainer2{
        display: block;
        width: 100%;
        margin: auto;
    }

    #QuestionImgContainer2 > img {
        width: 100%;
    }

    #StagesRightSection {
        text-align: left;
        width: 90%;
    }


    #AboutInnerContainer3 > p:nth-child(1){
        font-size: 34px;
    }

    #GridSection{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #AllProgramsBtnIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #PhotosBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #InnerContainer6 {
        width: 80%;
        margin: 100px auto;
        padding: 30px 0px;
    }

    #InnerContainer6>p:nth-child(1) {
        font-weight: 900;
        font-size: 30px;
    }

    #InnerContainer6>button {
        font-size: 15px;
        margin: 30px auto;
    }

    #FormOutwardArrowIcon {
        font-size: 20px;
        margin-left: 10px;
    }
}


@media (min-width: 1201px) and (max-width: 1440px) {
    .AboutVideoIcon {
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    
    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
    
    #AllProgramsBtnIcon{
        font-size: 20px;
        margin-left: 10px;
    }
    
    #PhotosBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #FormOutwardArrowIcon{
        font-size: 24px;
        margin-left: 10px;
    }
}