#about-outer-container{
    padding: 100px 0px;
}

#about-inner-container-1 {
    display: flex;
    width: 85%;
    margin: 100px auto;
    justify-content: space-between;
}

#about-left-section {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
    padding: 25px 0px;
}

#about-left-section > p{
    margin: 0px;
}

#about-left-section > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#about-left-section > p:nth-child(2){
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

/* #pointers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin: 40px 0px;

    .pointers{
        display: flex;
        align-items: center;
    }

    .pointers-icon{
        fill: orange;
        font-size: 20px;
        margin-right: 15px;
    }
} */

#about-header-btn{
    width: 40%;
}



#about-right-section{
    width: 45%;
    position: relative;
}

#about-header-img-container{
    width: 100%;
    position: absolute;
    z-index: 1;
}

#about-header-img-container > img{
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#about-header-img-container::before{
    top: 50px;
    left:  50px;
    background-color: #c1e3de;
}

#about-header-img-container::before{
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    position: absolute;
}

#about-inner-container-2{
    display: flex;
    width: 80%;
    margin: 200px auto;
}

#stats-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 1px 2px 0px, rgba(43, 171, 160, 0.14) 0px 2px 6px 2px;
    padding: 50px 0px;

    .stat-col{
        display: flex;
        flex-direction: column;
        padding: 0px 110px;
        gap: 10px;
    }

    .stat-col > p{
        margin: 0;
    }

    .stat-col > p:nth-child(1){
        color: green;
        font-size: 48px;
        font-weight: 900;
    }

    .stat-col > p:nth-child(2){
        font-size: 24px;
        font-weight: 400;
        margin-top: 20px;
    }

    .stat-col > p:nth-child(3){
        font-size: 18px;
        font-weight: 200;
    }

    .stat-col:nth-child(2){
        border-left: 2px solid rgb(222, 222, 222);
        border-right: 2px solid rgb(222, 222, 222);
    }
}






#carousel-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    background-color: #f9f9f9;
}

#carousel-section-container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

#carousel-section-container > p{
    margin: 0;
}

#carousel-section-container > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#carousel-section-container > p:nth-child(2){
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

#carousel-container {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
}

.slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Adjust width to allow sliding */
    /* width: calc(100% * (100 / 33.33));  */

    width: calc(100% + 30px); /* Extra space to account for gaps */
    gap: 15px; /* Gap between certificates */
}

.certi-card {
    /* Show three items at once */
    /* flex: 0 0 33.33%; */
    flex: 0 0 calc(33.33% - 10px); /* Three items per view with gap */
    padding: 10px;
    box-sizing: border-box;
}

.certificate img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide-indicators {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: orange;
}








#consultation-stages-section{
    margin: 100px 0px;
}

#about-inner-container-3{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
}

#stages-left-section{
    width: 40%;
    position: relative;
    margin: 100px 0px;
}

#stages-img-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.img-group-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-group-container:first-child {
    transform: translateY(30px);
    align-items: flex-end;
}


.img-group-container:first-child > img:first-child, .img-group-container:last-child > img:last-child {
    width: 200px;
    height: 200px;
    object-fit:contain;
}

.img-group-container:first-child > img:last-child, .img-group-container:last-child > img:first-child {
    width: 230px;
    height: 230px;
    object-fit:contain;
}


#stages-right-section {
    text-align: left;
    width: 50%;
}

#stages-right-section > p{
    font-size: 36px;
    font-weight: 800;
}

#stages-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 0px;
}

.stages-card{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 50px;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
}

.stages-card > p{
    margin: 10px 0px;
}

.stages-card > p:nth-child(1){
    font-weight: 900;
    font-size: 48px;
    color: #c1e3de;
}

.stages-card > p:nth-child(2){
    font-weight: 400;
    font-size: 22px;
}

.stages-card > p:nth-child(3){
    font-weight: 200;
    font-size: 18px;
}







#about-third-section{
    background-color: #edf7f6;
}


#inner-container-3{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

#inner-container-3 > p{
    margin: 0px;
}

#inner-container-3 > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#inner-container-3 > p:nth-child(2){
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}

/* #grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 60px auto;
}

.grid-card{
    text-align: left;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
    padding: 20px 35px;
    border-radius: 30px;
    background-color: white;
}

.grid-card>p:nth-child(2){
    font-size: 24px;
    font-weight: 700;
}

.grid-card>p:nth-child(3){
    line-height: 25px;
    font-size: 18px;
    font-weight: 200;
}

.grid-link{
    display: flex;
    align-items: center;
}

.grid-link > p{
    color: #26aba3;
    font-weight: 600;
    font-size: 18px;
}

.grid-link-icon{
    font-size: 24px;
    fill: #26aba3;
    margin-left: 15px;
} */

#inner-container-3 > button {
    width: 20%;
    margin: auto;
}





#photos-inner-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:80px auto;

    p{
        margin: 0;
    }
}

#photos-inner-container > p:nth-child(1){
    font-size: 40px;
    font-weight: 700;
}

#photos-inner-container > p:nth-child(2){
    font-size: 20px;
    font-weight: 200;
    margin-top: 30px;
}

#photos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 45px;
    margin: 40px auto;
}

.photo-card{
    width: 100%;
}

.photo-card > img{
    width: 100%;
    border-radius: 50px;
}


#photos-inner-container > button {
    width: 20%;
    margin: auto;
}




#inner-container-6{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
    padding: 100px 0px;
    background-color: #f4fcfa;
    border-radius: 50px;
}

#inner-container-6>p:nth-child(1){
    font-weight: 900;
    font-size: 40px;
}

#consultation-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 40px;
    margin: 40px auto;
}

#consultation-form > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-input > label {
    font-size: 18px;
    font-weight: 500;
    color:#333;
}

.form-input > input, .form-input > select{
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid rgb(214, 214, 214);
}

#inner-container-6 > button {
    display: flex;
    width: 22%;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}