#team-outer-container{
    padding: 100px 0px;
}

#team-inner-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: 100px auto;
}

#team-header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}

#team-header{
    text-align: left;
    width: 45%;
    /* border: 1px solid; */
}

#team-header > p{
    margin: 0px;
}

#team-header > p:nth-child(1){
    font-weight: 900;
    font-size: 36px;
}

#team-header > p:nth-child(2){
    font-weight: 200;
    font-size: 20px;
}

#team-header > p:nth-child(2){
    margin-top: 15px;
    line-height: 30px;
}

#team-stats{
    display: flex;
    width: 40%;
    justify-content: space-between;
    /* border: 1px solid; */

    .stats-col > p {
        margin: 0;
    }
    
    .stat-num{
        font-size: 70px;
        font-weight: 900;
        color: green;
    }
    
    .stat-head{
        font-size: 20px;
        font-weight: 500;
    }
}


#team-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin: 50px 0px;
}

.team-grid-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 3px 8px;

    .doc-speciality{
        font-size: 1.4rem;
        font-weight: 500;
        color: #26aba3;
        margin-top: 10px;
        padding: 5px;
    }

    .doc-name{
        font-size: 1.4rem;
    }

    p{
        margin: 0px;
    }

    .team-img{
        width: 100%;
    }

    .team-img > img{
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

.team-social-container{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    color: white;
    /* border: 1px solid; */
}

.team-icon-container{
    display: flex;
    background-color: orange;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.team-social-media-icon{
    margin: auto;
    font-size: 22px;
    fill: white;
}

  /* Extra Small */
  @media (max-width: 480px) {
    /* Styles for extra small screens */
    #team-header-container{
        flex-direction: column;
        gap: 20px;
    }
    #team-header{
        width: 100%;
        text-align: center;
    }
    #team-stats{
        width: 100%;
        justify-content: center;
        gap: 30px;

        .stat-num{
            font-size: 2.3rem;
        }     
        .stat-head{
            font-size: 0.9rem;
        }
    }
    #team-grid-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .team-icon-container{
        width: 34px;
        height: 34px;
    }
    
    .team-social-media-icon{
        margin: auto;
        font-size: 18px;
        fill: white;
    }
    .team-grid-card{
        .doc-name{
            font-size: 4vh;
        }
        .doc-speciality{
            font-size: 4vh;
        }
    }
    .team-social-container{
        width: 32vh;
    }
  }
  
  /* Small */
  @media (min-width: 481px) and (max-width: 768px) {
    /* Styles for small screens */
    #team-header-container{
        flex-direction: column;
        gap: 20px;
    }
    #team-header{
        width: 100%;
        text-align: center;
    }
    #team-stats{
        width: 100%;
        justify-content: center;
        gap: 30px;

        .stat-num{
            font-size: 50px;
        }     
        .stat-head{
            font-size: 18px;
        }
    }
    #team-grid-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    .team-icon-container{
        width: 34px;
        height: 34px;
    }
    
    .team-social-media-icon{
        margin: auto;
        font-size: 18px;
        fill: white;
    }
    .team-grid-card{
        .doc-name{
            font-size: 3vh;
        }
        .doc-speciality{
            font-size: 3vh;
        }
    }
    .team-social-container{
        width: 28vh;
    }
  }
  
  /* Medium */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for medium screens */
    #team-header-container{
        flex-direction: column;
        gap: 20px;
    }
    #team-header{
        width: 100%;
        text-align: center;
    }
    #team-header > p:nth-child(1){
        font-size: 38px;
    }
    #team-stats{
        width: 100%;
        justify-content: center;
        gap: 30px;

        .stat-num{
            font-size: 55px;
        }     
        .stat-head{
            font-size: 18px;
        }
    }
    #team-grid-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    .team-grid-card{
        .doc-name{
            font-size: 3.6vh;
        }
        .doc-speciality{
            font-size: 3.6vh;
        }
    }
    .team-social-container{
        width: 70%;
    }
  }
  
  /* Large */
  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Styles for large screens */
    #team-stats{
        width: 45%;

        .stat-num{
            font-size: 60px;
        }     
        .stat-head{
            font-size: 18px;
        }
    }
    #team-grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .team-social-container{
        width: 70%;
    }
    .team-grid-card{
        .doc-name{
            font-size: 3vh;
        }
        .doc-speciality{
            font-size: 3vh;
        }
    }
  }
  
  /* Extra Large */
  @media (min-width: 1201px) and (max-width: 1440px) {
    /* Styles for extra large screens */
    #team-stats{
        width: 45%
    }
  }
  