#TeamOuterContainer {
    padding: 100px 0px;
}

#TeamInnerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: 100px auto;
}

#TeamHeaderContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#TeamHeader {
    text-align: left;
    width: 45%;
}

#TeamHeader>p {
    margin: 0px;
}

#TeamHeader>p:nth-child(1) {
    font-weight: 900;
    font-size: 36px;
}

#TeamHeader>p:nth-child(2) {
    font-weight: 200;
    font-size: 20px;
}

#TeamHeader>p:nth-child(2) {
    margin-top: 15px;
    line-height: 30px;
}

#TeamStats {
    display: flex;
    width: 40%;
    justify-content: space-between;

    .StatsCol>p {
        margin: 0;
    }

    .StatsNum {
        font-size: 70px;
        font-weight: 900;
        color: green;
    }

    .StatsHead {
        font-size: 20px;
        font-weight: 500;
    }
}


#TeamGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin: 50px 0px;
}

.TeamGridCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 3px 8px;

    .DocSpeciality {
        font-size: 1.4rem;
        font-weight: 500;
        color: #26aba3;
        margin-top: 10px;
        padding: 5px;
    }

    .DocName {
        font-size: 1.4rem;
    }

    p {
        margin: 0px;
    }

    .TeamImg {
        width: 100%;
    }

    .TeamImg>img {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

.TeamSocialMediaContainer {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    color: white;
}

.TeamSocialMIconContainer {
    display: flex;
    background-color: orange;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.TeamSocialMediaIcon {
    margin: auto;
    font-size: 22px;
    fill: white;
}

/* ------------------------------ MOBILE SCREEN ---------------------------------- */
@media (max-width: 480px) {
    #TeamHeaderContainer {
        flex-direction: column;
        gap: 20px;
    }

    #TeamHeader {
        width: 100%;
        text-align: center;
    }

    #TeamHeader>p:nth-child(1) {
        font-size: 32px;
    }

    #TeamHeader>p:nth-child(2) {
        font-size: 16px;
    }

    #TeamStats {
        width: 100%;
        justify-content: center;
        gap: 30px;
        margin: 30px 0px;

        .StatsNum {
            font-size: 2.3rem;
        }

        .StatsHead {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    #TeamGridContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        width: 90%;
        margin: 0px auto;
        margin-top: 50px;
    }

    .TeamSocialMIconContainer {
        width: 34px;
        height: 34px;
    }

    .TeamSocialMediaIcon {
        margin: auto;
        font-size: 18px;
        fill: white;
    }

    .TeamGridCard {
        .DocName {
            font-size: 18px;
        }

        .DocSpeciality {
            font-size: 20px;
        }
    }

    .TeamSocialMediaContainer {
        width: 32vh;
    }
}

/* ------------------------------ TABLET SCREEN ---------------------------------- */

@media (min-width: 481px) and (max-width: 768px) {
    #TeamHeaderContainer {
        flex-direction: column;
        gap: 20px;
    }

    #TeamHeader {
        width: 100%;
        text-align: center;
    }

    #TeamHeader>p:nth-child(1) {
        font-size: 34px;
    }

    #TeamHeader>p:nth-child(2) {
        font-size: 17px;
    }

    #TeamStats {
        width: 100%;
        justify-content: space-evenly;
        gap: 30px;
        margin: 30px 0px;

        .StatsNum {
            font-size: 50px;
        }

        .StatsHead {
            font-size: 16px;
        }
    }

    #TeamGridContainer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
        column-gap: 30px;
    }

    .TeamSocialMIconContainer {
        width: 34px;
        height: 34px;
    }

    .TeamSocialMediaIcon {
        margin: auto;
        font-size: 18px;
        fill: white;
    }

    .TeamGridCard {
        .DocName {
            font-size: 17px;
        }

        .DocSpeciality {
            font-size: 18px;
        }
    }

    .TeamSocialMediaContainer {
        width: 28vh;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #TeamHeaderContainer {
        flex-direction: column;
        gap: 20px;
    }

    #TeamHeader {
        width: 100%;
        text-align: center;
    }

    #TeamHeader>p:nth-child(1) {
        font-size: 38px;
    }

    #TeamStats {
        width: 80%;
        justify-content: space-evenly;
        gap: 30px;
        margin: 40px 0px;

        .StatsNum {
            font-size: 55px;
        }

        .StatsHead {
            font-size: 18px;
        }
    }

    #TeamGridContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .TeamGridCard {
        .DocName {
            font-size: 18px;
        }

        .DocSpeciality {
            font-size: 20px;
        }
    }

    .TeamSocialMediaContainer {
        width: 70%;
    }
}

/* ---------------------------- SMALL SCREEN LAPTOP ------------------------------- */
@media (min-width: 1025px) and (max-width: 1200px) {
    #TeamStats {
        width: 45%;

        .StatsNum {
            font-size: 60px;
        }

        .StatsHead {
            font-size: 18px;
        }
    }

    #TeamGridContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .TeamSocialMediaContainer {
        width: 70%;
    }

    .TeamGridCard {
        .DocName {
            font-size: 3vh;
        }

        .DocSpeciality {
            font-size: 3vh;
        }
    }
}

/* ---------------------------- LARGE SCREEN LAPTOP ------------------------------- */
@media (min-width: 1201px) and (max-width: 1440px) {
    #TeamStats {
        width: 45%
    }
}