 
 .video-header-title {
    font-size: 2.3rem;
 }
 #video-grid-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

 /* Small */
 @media (max-width: 480px){
    /* Styles for small screens */
    #page-header-content {
        flex-direction: column;
      }
    .video-header-title {
        font-size: 1.6rem;
    }
    .video-header-sub-title {
        font-size: 1rem;
    }
    #video-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
 /* Small */
 @media (min-width: 481px) and (max-width: 768px) {
    /* Styles for small screens */
    #page-header-content {
        flex-direction: column;
      }
    .video-header-title {
        font-size: 1.8rem;
    }
    #video-grid-section{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Medium */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for medium screens */
    #page-header-content {
        flex-direction: column;
      }
    .video-header-title {
        font-size: 2rem;
    }
    .video-header-sub-title {
        padding-top: 10px;
    }
    #video-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Large */
  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Styles for large screens */
    .video-header-title {
        font-size: 2.1rem;
    }
    .video-header-sub-title {
        padding-top: 10px;
    }
    #video-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Extra Large */
  @media (min-width: 1201px) {
    /* Styles for extra large screens */
    #video-grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  