#HeaderSection {
    padding: 120px 0px 60px 0px;
}

#InnerContainer1 {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
}

#HeaderLeftSection {
    width: 50%;
    text-align: left;
}

#HeaderLeftSection>p:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

#HeaderLeftSection>p:nth-child(2) {
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

#HeaderSectionButtons {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 30px 0px;
}

#HeaderStatsSection {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 10px;
}

.HeaderStatsItem {
    align-items: left;
}

.HeaderStatsItem>p:nth-child(1) {
    margin: 0px;
    color: green;
    font-weight: 900;
    font-size: 48px;
}

.HeaderStatsItem>p:nth-child(3) {
    font-weight: 200;
    font-size: 18px;
}

.HeaderStatsItem>hr {
    width: 20%;
    color: #e7f2f1;
    margin-left: 0;
    border: 1px solid rgb(213, 235, 213);
}

.PrimaryBtn {
    padding: 14px 40px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.SecondaryBtn {
    padding: 10px 40px;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

#HeaderRightSection {
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;
}

#HeaderImgContainer {
    width: 100%;
    position: absolute;
    z-index: -1;

}

#HeaderImgContainer>img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#HeaderImgContainer::before {
    top: 0;
    left: 0;
    background-color: #fef3de;
}

#HeaderImgContainer::after {
    right: 0;
    bottom: 0;
    background-color: #c1e3de;
    border-bottom-right-radius: 40px;
}

#HeaderImgContainer::after,
#HeaderImgContainer::before {
    width: 115%;
    height: 115%;
    z-index: -1;
    content: "";
    position: absolute;
}

#HeaderBanner {
    display: none;
}

#InnerContainer5 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

#InnerContainer5>p {
    margin: 0px;
}

#InnerContainer5>p:nth-child(1) {
    font-size: 40px;
    font-weight: 900;
}

#InnerContainer5>p:nth-child(2) {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}


#InnerContainer7 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
}

#ArticledGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#ArticlesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ArticlesHeader > p:nth-child(1){
    font-weight: 900;
    font-size: 40px;
}

#AboutFirstContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

#CounselorLeftSection {
    width: 50%;
    text-align: left;
}

#CounselorLeftSection>p:nth-child(1) {
    font-size: 38px;
    font-weight: 900;
}

#CounselorLeftSection>p:nth-child(2) {
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

#CounselorLeftSection>button {
    margin-top: 40px;
}

#LearnMoreBtn{
    display: flex;
    align-items: center;
}

#LearnMoreBtnArrowIcon{
    font-size: 20px;
    margin-left: 10px;
}

#CounselorRightSection {
    width: 42%;
    position: relative;
}

#CounselorImgContainer {
    position: relative;
    width: 100%;
    z-index: -1;
}

#CounselorImgContainer>img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#CounselorImgContainer::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #c1e3de;
}

.AboutVideoIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.VideoIcon {
    font-size: 40px;
}

.AboutVideoIcon .VideoPlayBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 228, 185, 0.8);
    border-radius: 50%;
    color: rgb(255, 167, 5);
    font-size: 24px;
    text-decoration: none;
    border: none;
}

.AboutVideoIcon .VideoPlayBtn:hover {
    background-color: rgba(255, 228, 185, 0.8);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Popup container */
.Popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1004;
    opacity: 1;
    transition: opacity 0.3s, opacity 0.3s ease-in-out;
}

/* Popup content */
.PopupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 700px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#VideoFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#ClosePopup{
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
}

#PointersGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 15px;
    margin: 40px 0px;
}

.Pointers{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.Pointers > p{
    margin: 0px;
}

.PointersIcon{
    fill: orange;
    font-size: 20px;
    stroke-width: 1;
    color: orange;
    margin-right: 15px;
}



@media (max-width: 480px) {
    #HeaderGreenBtn, #HeaderOrangeBtn{
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    #InnerContainer1 {
        flex-direction: column-reverse;
        width: 80%;
        margin-top: 20px;
    }
    
    #HeaderLeftSection {
        width: 100%;
        text-align: left;
    }
    
    #HeaderLeftSection>p:nth-child(1) {
        font-size: 30px;
        font-weight: 800;
        margin: 1rem 0;
    }
    
    #HeaderLeftSection>p:nth-child(2) {
        line-height: 30px;
        font-size: 16px;
    }

    #HeaderSectionButtons {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        margin: 30px 0px;
        gap: 15px;
    }

    .PrimaryBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        font-size: 15px;
    }

    .SecondaryBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        font-size: 15px;
    }

    .HeaderBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #HeaderStatsSection {
        width: 100%;
    }

    .HeaderStatsItem {
        align-items: left;
    }

    .HeaderStatsItem>p:nth-child(1) {
        font-size: 35px;
    }

    .HeaderStatsItem>p:nth-child(3) {
        font-weight: 200;
        font-size: 0.8rem;
    }


    #HeaderRightSection {
        display: none;
    }

    #HeaderBanner {
        width: 100%;
        display: block;
    }

    #HeaderBannerContainer {
        width: 100%;
    }

    #HeaderBannerContainer img {
        width: 100%;
    }

    #InnerContainer5>p:nth-child(1) {
        font-size: 1.6rem;
    }

    #InnerContainer7{
        margin-top: 0px;
    }

    #ArticlesHeader{
        flex-direction: column;
        gap: 0px;
    }

    #ArticlesHeader>p:nth-child(1) {
        font-size: 30px;
    }

    #ArticleBtn{
        font-size: 16px;
    }

    #ArticleBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticledGrid{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    #AboutFirstContainer {
        flex-direction: column-reverse;
        margin: 50px auto;
        gap: 50px;
    }

    #PointersGrid{
        grid-template-columns: repeat(1, 1fr);
    }

    #CounselorRightSection {
        width: 90%;
        position: relative;
    }
    
    #CounselorImgContainer {
        position: relative;
    }

    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }
    
    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 20px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 200px;
    }

    #CounselorLeftSection {
        width: 100%;
    }

    #CounselorLeftSection>p:nth-child(1) {
        font-size: 26px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2) {
        line-height: 25px;
        font-size: 16px;
    }

    #LearnMoreBtn {
        margin-top: 25px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    #HeaderSectionButtons {
        width: 90%;
        justify-content: flex-start;
        margin: 30px 0px;
        gap: 40px;
    }

    #HeaderGreenBtn, #HeaderOrangeBtn{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .HeaderBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #InnerContainer1 {
        flex-direction: column-reverse;
        width: 80%;
        margin-top: 20px;
    }

    #HeaderLeftSection {
        width: 100%;
        text-align: left;
    }

    #HeaderLeftSection>p:nth-child(1) {
        font-size: 2rem;
        margin: 1rem 0;
    }

    #HeaderLeftSection>p:nth-child(2) {
        line-height: 30px;
        font-size: 1.1rem;
    }

    #HeaderStatsSection {
        width: 100%;
    }

    .HeaderStatsItem {
        align-items: left;
    }

    .HeaderStatsItem>p:nth-child(1) {
        font-size: 40px;
    }

    .HeaderStatsItem>p:nth-child(3) {
        font-weight: 200;
        font-size: 1rem;
    }

    .PrimaryBtn {
        font-size: 0.9rem;
        font-weight: 700;
    }

    #HeaderRightSection {
        display: none;
    }

    #HeaderBanner {
        width: 100%;
        display: block;
    }

    #HeaderBannerContainer {
        width: 100%;
    }

    #HeaderBannerContainer img {
        width: 100%;
    }

    #InnerContainer5 > p:nth-child(1){
        font-size: 34px;
    }

    #ArticlesHeader > p:nth-child(1){
        font-weight: 800;
        font-size: 28px;
    }

    #ArticleBtn{
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #ArticleBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticledGrid{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    #AboutFirstContainer {
        flex-direction: column-reverse;
        margin: 60px auto;
        gap: 50px;
    }

    #CounselorRightSection {
        width: 90%;
        position: relative;
    }

    #CounselorImgContainer {
        position: relative;
    }

    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }
    
    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 50px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 150px;
        height: 150px;
        font-size: 28px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 300px;
    }

    #CounselorLeftSection {
        width: 100%;
    }


    #CounselorLeftSection>p:nth-child(1) {
        font-size: 28px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2) {
        line-height: 30px;
        font-size: 17px;
    }

    #CounselorLeftSection>button {
        margin-top: 40px;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #HeaderSectionButtons {
        width: 90%;
        justify-content: flex-start;
        margin: 30px 0px;
        gap: 30px;
    }

    #HeaderGreenBtn, #HeaderOrangeBtn{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .HeaderBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #InnerContainer1 {
        width: 85%;
        margin-top: 20px;
    }

    #HeaderLeftSection {
        width: 55%;
        text-align: left;
    }

    #HeaderLeftSection>p:nth-child(1) {
        font-size: 2.2rem;
        margin: 0.8rem 0rem 0.3rem;
    }

    #HeaderLeftSection>p:nth-child(2) {
        font-size: 1.2rem;
        margin: 0.8rem 1rem 0.3rem 0rem;
    }

    #HeaderStatsSection {
        width: 100%;
    }

    .HeaderStatsItem {
        align-items: left;
    }

    .HeaderStatsItem>p:nth-child(1) {
        font-size: 35px;
    }

    .HeaderStatsItem>p:nth-child(3) {
        font-weight: 200;
        font-size: 0.8rem;
    }

    .PrimaryBtn {
        padding: 8px 20px;
        font-size: 0.8rem;
    }

    .SecondaryBtn {
        padding: 8px 20px;
        font-size: 0.8rem;
    }

    #HeaderRightSection {
        width: 35%;
    }

    #InnerContainer5 > p:nth-child(1){
        font-size: 34px;
    }

    #ArticlesHeader > p:nth-child(1){
        font-weight: 800;
        font-size: 32px;
    }

    #ArticleBtn{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    #ArticleBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticledGrid{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #AboutFirstContainer {
        margin: 10px auto 30px;
        flex-direction: column-reverse;
        margin: 0px auto;
        gap: 50px;
    }

    #CounselorRightSection {
        width: 70%;
        margin: auto;
        position: relative;
    }

    #CounselorImgContainer {
        position: relative;
    }
    
    #CounselorImgContainer::after {
        top: 30px;
        left: 30px;
    }

    .AboutVideoIcon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .VideoIcon {
        font-size: 40px;
    }
    
    .AboutVideoIcon .VideoPlayBtn {
        width: 150px;
        height: 150px;
        font-size: 28px;
    }
    
    .PopupContent {
        width: 80%;
        max-width: 700px;
        height: 300px;
    }

    #CounselorLeftSection {
        width: 100%;
    }


    #CounselorLeftSection>p:nth-child(1) {
        font-size: 28px;
        margin: 2rem 0 1rem;
    }

    #CounselorLeftSection>p:nth-child(2) {
        line-height: 30px;
        font-size: 18px;
    }


    #CounselorLeftSection>button {
        margin-top: 40px;
    }

    #CounselorRightSection {
        margin-top: 50px;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
}


@media (min-width: 1025px) and (max-width: 1200px) {
    #HeaderLeftSection>p:nth-child(1) {
        font-size: 42px;
        margin: 1rem 0;
    }

    #HeaderSectionButtons {
        width: 90%;
    }

    .PrimaryBtn {
        padding: 12px 30px;
    }

    .SecondaryBtn {
        padding: 12px 30px;
    }

    #HeaderGreenBtn, #HeaderOrangeBtn{
        display: flex;
        align-items: center;
    }

    .HeaderBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticlesHeader > p:nth-child(1){
        font-weight: 800;
        font-size: 32px;
    }

    #ArticleBtn{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    #ArticleBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticledGrid{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 40px;
    }

    .AboutVideoIcon {
        top: 40%;
        left: 0%;
    }

    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
}


@media (min-width: 1201px) and (max-width: 1440px) {
    #HeaderGreenBtn, #HeaderOrangeBtn{
        display: flex;
        align-items: center;
    }

    .HeaderBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    #ArticlesHeader > p:nth-child(1){
        font-weight: 800;
        font-size: 34px;
    }

    #ArticleBtn{
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #ArticleBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }

    .AboutVideoIcon {
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    
    #LearnMoreBtn {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    #LearnMoreBtnArrowIcon{
        font-size: 20px;
        margin-left: 10px;
    }
}