#contact-outer-container{
    padding: 100px 0px;
}

#contact-header{
    background-color: #f4fcfa;
    padding: 40px 0px;
}

#contact-header-content{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#contact-inner-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
    /* border: 1px solid green; */
}

#contact-inner-container > p {
    margin: 0px;
}

#contact-inner-container > p:nth-child(1){
    font-size: 36px;
    font-weight: 700;
}

#contact-inner-container > p:nth-child(2){
    font-size: 20px;
    font-weight: 200;
}

#contact-inner-container > p:nth-child(2){
    margin-top: 20px;
}

#contact-info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px;
    margin: auto;
    margin-top: 100px;
    /* border: 1px solid goldenrod; */
}

.contact-info-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px 30px;
    background-color: #f4fcfa;
    border-radius: 30px;
}

.contact-info-card:hover{
    background-color: #26aba3;
}

.contact-info-card:hover{
    color: white;
    
    .contact-icons{ 
        fill: white;
    }
}

.contact-card-category{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0px 8px 0px;
}

.contact-icons{
    font-size: 48px;
    fill: #26aba3;
}

.contact-card-info-lines{
    margin: 0px;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
}

.contact-info-card > p:nth-child(2){
    margin-bottom: 25px;
}

#contact-map{
    display: flex;
    width: 100%;
}