/* #header-section{
    padding: 120px 0px 60px 0px;
}

#inner-container-1{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
}

#header-left-section{
    width: 50%;
    text-align: left;
}

#header-left-section > p:nth-child(1){
    font-size: 48px;
    font-weight: 900;
}

#header-left-section > p:nth-child(2){
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

#header-section-buttons{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 30px 0px;
}

#header-stats-section{
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 10px;
}

.header-stats-item{
    align-items: left;
}

.header-stats-item > p:nth-child(1){
    margin: 0px;
    color: green;
    font-weight: 900;
    font-size: 48px;
}

.header-stats-item > p:nth-child(3){
    font-weight: 200;
    font-size: 18px;
}

.header-stats-item > hr{
    width: 20%;
    color: #e7f2f1;
    margin-left: 0;
    border: 1px solid rgb(213, 235, 213);
}

#header-right-section{
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;
}

#header-img-container{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}

#header-img-container > img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#header-img-container::before{
    top: 0;
    left: 0;
    background-color: #fef3de;
}

#header-img-container::after{
    right: 0;
    bottom: 0;
    background-color: #c1e3de;
    border-bottom-right-radius: 40px;
}

#header-img-container::after, #header-img-container::before{
    width: 115%;
    height: 115%;
    z-index: -1;
    content: "";
    position: absolute;
} */



#ques-section{
    background-color: #edf7f6;
    padding: 50px 0px;
}

#inner-container-2{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
}

#ques-left-section{
    width: 40%;
    position: relative;
}

#ques-img-container{
    /* width: 100%;
    position: absolute;
    z-index: 1; */

    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.img-group-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-group-container:first-child {
    transform: translateY(30px);
    align-items: flex-end;
}


.img-group-container:first-child > img:first-child, .img-group-container:last-child > img:last-child {
    width: 200px;
    height: 200px;
}

.img-group-container:first-child > img:last-child, .img-group-container:last-child > img:first-child {
    width: 230px;
    height: 230px;
}

/* #ques-img-container::after, #ques-img-container::before{
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    position: absolute;
    color: #fef3de;
}

#ques-img-container::after{
    top: 0;
    left: 0;
}

#ques-img-container::before{
    right: 0;
    bottom: 0;
} */



#ques-right-section{
    text-align: left;
    width: 50%;
}

#ques-right-section{
    font-size: 36px;
    font-weight: 900;
}

#faq-accordion {
    margin-top: 20px;
}
/* 
.accordion-item {
    padding: 15px 0;
    position: relative;
}

.accordion-radio {
    display: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-question {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.accordion-icon {
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.accordion-content {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    transition: max-height 0.3s ease-in-out;
}

.accordion-header.active > p,  .accordion-header.active > span{
    color: #26aba3;
}

.accordion-radio:checked ~ .accordion-content {
    max-height: 100px;
    padding-top: 10px;
} */




#inner-container-3{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

#inner-container-3 > p{
    margin: 0px;
}

#inner-container-3 > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#inner-container-3 > p:nth-child(2){
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}

/* #grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 60px auto;
}

.grid-card{
    text-align: left;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
    padding: 20px 35px;
    border-radius: 30px;
}

.grid-card>p:nth-child(2){
    font-size: 24px;
    font-weight: 700;
}

.grid-card>p:nth-child(3){
    line-height: 25px;
    font-size: 18px;
    font-weight: 200;
}

.grid-link{
    display: flex;
    align-items: center;
}

.grid-link > p{
    color: #26aba3;
    font-weight: 600;
    font-size: 18px;
}

.grid-link-icon{
    font-size: 24px;
    fill: #26aba3;
    margin-left: 15px;
} */




#inner-container-4{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 60px auto;
}

#counselor-left-section{
    width: 45%;
    text-align: left;
}

#counselor-left-section > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#counselor-left-section > p:nth-child(2){
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}

#counselor-left-section > button {
    margin-top: 40px;
}

#counselor-right-section{
    width: 50%;
    position: relative;
}

#counselor-img-container{
    position: absolute;
    width: 100%;
    z-index: -1;
}

#counselor-img-container > img {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#counselor-img-container::after{
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #c1e3de;
}


#inner-container-5{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

#inner-container-5 > p {
    margin: 0px;
}

#inner-container-5 > p:nth-child(1){
    font-size: 40px;
    font-weight: 900;
}

#inner-container-5 > p:nth-child(2){
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}

/* #carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.slide {
    display: flex;
    justify-content: space-around;
    animation: slideIn 0.5s ease-in-out;
}

.review-card {
    border-radius: 15px;
    padding: 20px;
    width: 45%;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
}

.review-name {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.review-job {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.review-text {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
}

.slide-indicators {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.indicator {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: orange;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
} */

#inner-container-6{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
    padding: 100px 0px;
    background-color: #f4fcfa;
    border-radius: 50px;
}

#inner-container-6>p:nth-child(1){
    font-weight: 900;
    font-size: 40px;
}

#consultation-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 40px;
    margin: 40px auto;
}

#consultation-form > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-input > label {
    font-size: 18px;
    font-weight: 500;
    color:#333;
}

.form-input > input, .form-input > select{
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid rgb(214, 214, 214);
}

#inner-container-6 > button {
    display: flex;
    width: 22%;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}


#inner-container-7{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
}

/* #articles-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.article-card{
    text-align: left;
    border-radius: 25px;
    box-shadow: rgba(43, 171, 160, 0.14) 0px 2px 5px 0px, rgba(43, 171, 160, 0.14) 0px 1px 1px 0px;
}

#articles-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#articles-header > p:nth-child(1){
    font-weight: 900;
    font-size: 40px;
}

.article-card-img-container > img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.article-card-date{
    font-weight: 200;
    font-size: 16px;
}

.article-card-title{
    font-weight: 500;
    font-size: 20px;
}

.article-card-desc{
    font-weight: 200;

}

.article-card-content-container{
    padding: 30px 25px;
}

#articles-header button {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */