#ContactInnerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
}

#ContactInnerContainer>p {
    margin: 0px;
}

#ContactInnerContainer>p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
}

#ContactInnerContainer>p:nth-child(2) {
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
}

#ContactInfoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px;
    margin: auto;
    margin-top: 100px;
}

.ContactInfoCard {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px 30px;
    background-color: #f4fcfa;
    border-radius: 30px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.ContactInfoCard:hover {
    background-color: #26aba3;
    color: white;
}

.ContactInfoCard:hover .ContactIcons {
    fill: white;
    transition: fill 0.3s ease-in;
}

.ContactCardCategory {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0px 8px 0px;
}

.ContactIcons{
    font-size: 48px;
    fill: #26aba3;
}

.ContactCardInfoLines {
    margin: 0px;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
}

.ContactInfoCard>p:nth-child(2) {
    margin-bottom: 25px;
}


@media (max-width: 480px) {
    #ContactInnerContainer>p:nth-child(2) {
        font-size: 18px;
    }
    
    #ContactInfoGrid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin-top: 60px;
    }
    
    .ContactInfoCard {
        padding: 40px 30px;
    }
    
    .ContactCardCategory {
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    .ContactIcons{
        font-size: 44px;
    }
    
    .ContactCardInfoLines {
        font-size: 16px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #ContactInnerContainer>p:nth-child(2) {
        font-size: 18px;
    }
    
    #ContactInfoGrid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin-top: 60px;
    }
    
    .ContactInfoCard {
        padding: 40px 30px;
    }
    
    .ContactCardCategory {
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    .ContactIcons{
        font-size: 44px;
    }
    
    .ContactCardInfoLines {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #ContactInfoGrid {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin-top: 60px;
    }

    .ContactCardCategory {
        font-size: 22px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    .ContactIcons{
        font-size: 46px;
    }
    
    .ContactCardInfoLines {
        font-size: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #ContactInfoGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1201px) and (max-width: 1440px) {
    /* #ContactInfoGrid {
        grid-template-columns: repeat(2, 1fr);
    } */
}