#navbar-outer-container{
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.logo-img-container{
    /* border: 1px solid yellow; */
    width: 23%;
}

.logo-img-container > img{
    width: 100%;
}

#navbar-container{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellow; */
}

#nav-links-container{
    width: 60%;
}


.nav-list-item.resources {
    position: relative;
    cursor: pointer;
}

/* .nav-list-item:hover{
    background-color: #e7f2f1;
    border-radius: 5px;
} */

.nav-list-item.resources:hover .dropdown-menu {
    display: block;
}

.nav-list-item.arts {
    position: relative;
    cursor: pointer;
}

.nav-list-item.arts:hover .dropdown-menu {
    display: block;
}


/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #e7f2f1;
    box-shadow: 0px 4px 8px #e7f2f1;
    padding: 10px;
    display: none;
    list-style: none;
    margin: 0;

    border-radius: 5px;
    width: 150%;
    text-align: left;
}

.dropdown-menu li {
    padding: 15px 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.dropdown-menu li:hover {
    /* background-color: #f0f0f0; */
    background-color: #e7f2f1;
    border-radius: 5px;
}



#links-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-list-item{
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.navbar-list-item:hover{
    color: #26aba3;
}