*{
    font-family: "Open Sans", sans-serif;
}

.header-sub-title {
    font-weight: 600;
    font-size: 18px;
}

.header-title {
    font-weight: 800;
    font-size: 34px;
}

.header-link{
    color: #26aba3;
    cursor: pointer;
}

.primary-btn{
    padding: 14px 40px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.secondary-btn{
    padding: 10px 40px;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

#outer-container{
    padding: 100px 0px;
}

#page-header{
    background-color: #f4fcfa;
    padding: 40px 0px;
}

#page-header-content{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


/* #pointers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0px;

    .pointers{
        display: flex;
        align-items: center;
    }

    .pointers-icon{
        fill: orange;
        font-size: 20px;
        margin-right: 15px;
    }
}

.accordion-radio {
    display: none;
}
*/


@media (max-width: 480px) {
    #page-header-content {
        flex-direction: column;
    }
    /*#grid-section{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    } */
}
  

@media (min-width: 481px) and (max-width: 768px) {
    #page-header-content {
        flex-direction: column;
    }
    .header-title {
        font-size: 2.3rem;
    }
}
  

@media (min-width: 769px) and (max-width: 1024px) {
    .header-title {
        font-size: 2.4rem;
    }
    .header-sub-title {
        padding-top: 10px;
    }
    /* #grid-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    } */
}
  
@media (min-width: 1025px) and (max-width: 1200px) {
    /* #grid-section{
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    } */
}
  

@media (min-width: 1201px) {

}
  